header, footer{
    min-height: 30%;
    background-color: rgb(254,0,0);
    min-width: 100%;
}

/* body{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* body{
    background-image: url(../assets/pokedex.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

main{
    border : 25px solid rgb(176,176,176);
    border-radius: 5%;
    width: 95%;
    margin: auto;
    background-color: rgb(4,251,254);
}

button:hover{
    cursor: pointer;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.header-circle-cont{
    grid-column: 2 / 11;
    grid-row: 2 / 7;
    display: flex;
    justify-content: space-evenly;
}

.sml-circle-container{
    /* grid-column : 6 / 10;
    grid-row: 2 / 3; */
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 25%
}

.lrg-blue-circle{
    background-color:rgb(4,251,254);
    /* grid-column: 2/6 ;
    grid-row: 2/7; */
    height: 100%;
    width: 60%;
    border-radius: 50%;
    border: 5px solid rgb(246, 246, 246);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.sml-red-circle{
    background-color:rgb(207,13,13);
    width: 20%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.sml-yellow-circle{
    background-color:rgb(251,253,6);
    width: 20%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.sml-green-circle{
    background-color:rgb(48,250,4);
    width: 20%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

/* FOOTER */
footer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

footer img{
    grid-row: 2 / 6;
    grid-column: 12 / 16;
    width: 100%;
    height: 100%;
}

.footer-button-cont{
    grid-row: 2 / 4;
    grid-column: 2 / 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-blue-circle{
    height: 100%;
    width: 24%;
    border-radius: 50%;
    background-color: rgb(50,123,252);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.green-oval{
    width: 33%;
    height: 15%;
    border-radius: 25%;
    background-color: green;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0)
}

.orange-oval{
    width: 33%;
    height: 15%;
    border-radius: 25%;
    background-color: orange;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0)
}


.yellow-panel{
    background-color: yellow;
    grid-row: 5 / 8;
    grid-column: 4 / 11;
    border-radius: 5%;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0)
}

/* Media Queries */
@media (min-width: 600px) {
    .lrg-blue-circle{
        width: 20%;
    }
    
    .sml-red-circle{
        width: 10%;
        height: 100%;
    }
    
    .sml-yellow-circle{
        width: 10%;
        height: 100%;
    }
    
    .sml-green-circle{
        width: 10%;
        height: 100%;
    }
} 

