header, footer{
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    margin: 25px 0px 25px 0px;
}

button:hover{
    cursor: pointer;
}

header {
    background-color: red;
}


footer {
    background-color: black;
}